h1 {
  margin-left: 250px;
  margin-top: 250px;
  font-size: 50px;
  word-spacing: 18px;
  color: bisque;
}
.paragh {
  margin-top: 50px;
  margin-left: 280px;
  font-size: 27px;
  font-weight: bold;
}
.para {
  margin-left: 250px;
  margin-top: 50px;
  font-weight: bold;
  color: #fff;
}
.EXp {
  margin-top: 50px;
  margin-left: 280px;
  font-size: 40px;
  color: bisque;
}
.exper {
  font-weight: bold;
  margin-left: 300px;
  margin-top: 50px;
  color: #fff;
}
.imge {
  height: 300px;
  width: 250px;
  margin-left: 950px;
  margin-top: -250px;
  border-radius: 70px;
  filter: drop-shadow(1px 1px 20px #fff);
  transition: all 3s;
}
.imge:hover {
  width: 300px;
  height: 320px;
  filter: drop-shadow(1px 1px 20px orange);
  margin-left: 900px;
}
.imje {
  height: 300px;
  width: 250px;
  margin-top: -350px;
  margin-left: 40px;
  border-radius: 50px;
}
@media (max-width: 480px) {

  .DIS{
    font-size: 15px;
    color: bisque;
   position: relative;
   top: -80px;
   left: -130px;
  }
  .para{
   font-size: 10px;
   margin-left: 60px;
   margin-top: 100px;
  }
  .EXp{
    font-size: 15px;
    margin-left: 110px;
    color: bisque;

  }
  .exper{
    font-size: 10px;
     margin-left: 60px;
     margin-top: 20px;
  }
  .imge{
    height: 90px;
    width: 90px;
    margin-left: 60px;
    margin-top: 50px;
  }
  .imje{
    height: 90px;
    width: 90px;
    border-radius: 70px;
    filter: drop-shadow(1px 1px 20px #fff);

  }
  .para{
    margin-top: -20px;
    
  }
  .paragh{
    font-size: 15px;
    position: relative;
    top: -120px;
    left: -130px;
   

  }
}
