h1 {
  margin-left: 300px;
  margin-top: 250px;
  font-size: 50px;
  word-spacing: 18px;
  color: bisque;
}
.paragh {
  margin-top: 50px;
  margin-left: 280px;
  font-size: 27px;
  font-weight: bold;
}
.para {
  margin-left:350px;
  margin-top: 50px;
  font-weight: bold;
  color: #fff;
  width: 500px;
  line-height: 2;
}
.EXp {
  margin-top: 50px;
  margin-left: 400px;
  font-size: 40px;
  color: bisque;
}
.exper {
  font-weight: bold;
  margin-left: 350px;
  margin-top: 50px;
  color: #fff;
  width: 500px;
line-height: 2;
}
.imge {
  height: 300px;
  width: 250px;
  margin-left: 950px;
  margin-top: -250px;
  border-radius: 70px;
  filter: drop-shadow(1px 1px 20px #fff);
  transition: all 3s;
}
.imge:hover {
  width: 300px;
  height: 320px;
  filter: drop-shadow(1px 1px 20px orange);
  margin-left: 900px;
}
.imje {
  height: 300px;
  width: 250px;
  margin-top: -350px;
  margin-left: 40px;
  border-radius: 50px;
}
@media (max-width: 480px) {

  .DIS{
    font-size: 25px;
    color: bisque;
     position: relative;
       top: -220px;
      left: -160px;
      width: 200px;
  }
  .para{
   font-size: 13px;
   margin-left: 60px;
   margin-top: -180px;
   line-height:1.8 ;
   width: 250px;
  }
  .EXp{
    font-size: 25px;
    margin-left: 80px;
    color: bisque;

  }
  .exper{
    font-size: 13px;
     margin-left: 60px;
     margin-top: 30px;
     line-height:1.8;
     width: 250px;
  }
  .imge{
    height: 100px;
    width: 100px;
    margin-left: 70px;
    margin-top: 50px;
  }
  .imge:hover{
    
    
  }
  
  .imje{
    height: 100px;
    width: 100px;
    border-radius: 70px;
    filter: drop-shadow(1px 1px 20px #fff);

  }
  
  .paragh{
    font-size: 15px;
    position: relative;
    top: -120px;
    left: -130px;
   

  }
}
