.social-links {
  margin-left: 250px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 50px;
  width: 170px;
  border-radius: 20px; 

  
  
  }
 
    .ins{
      height: 30px;
      width: 30px;
      background-color: #fff;
          
    }
  .fac{
    height: 30px;
      width: 30px;
      background-color:#fff;
  }
  .lin{
    height: 30px;
      width: 30px;
      background-color: #fff;
  
  }
  

@media (max-width: 480px) {
  .social-links {
    
    margin-left: 100px;
    margin-top: 30px;
      padding: 5px;
    
  
  }
  .ins{
    height: 30px;
    width: 30px;
    background-color: #fff;
        
  }
.fac{
  height: 30px;
    width: 30px;
    background-color:#fff;
}
.lin{
  height: 30px;
    width: 30px;
    background-color: #fff;

}

}
  

