
.pres {
  margin-top: 40px;
  margin-left: 250px;
  font-size: 30px;
}
.page{
  background-color: rgba(8, 7, 7, 0.5);
  height: 4100px;
  padding-top: 10px;
  
}

.presen {
  margin-top: 0px;
  margin-left: 250px;
  font-size: 18px;
  text-shadow: 2px 2px red;
}

.pres {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  color: #2c3e50;
}
.image {
  height: 400px;
  width: 250px;
  margin-left: 950px;
  margin-top: -350px;
  filter: drop-shadow(1px 1px 20px chocolate);
  animation: ahmeddd 3s ease-in-out;
}

@keyframes ahmeddd {
  0% {
    transform: translateX(100%);
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}
@keyframes slideY {
  0% {
    transform: translateY(100%); /* Commence en bas de l'écran */
    opacity: 0; /* Cacher la section */
  }
  100% {
    transform: translateY(0); /* Atteint la position normale */
    opacity: 1; /* Rendre visible la section */
  }
}

.animation {
  animation: slideY 3s ease-out forwards; /* Animation de 3s */
}








.Hi {
  color: chocolate;
  margin-left: 250px;
  margin-top: 100px;
  
}
.span {
  display: inline-block;
  animation: fadeInMove 2s ease-in-out infinite;
  color: #e74c3c;
}

@keyframes fadeInMove {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@media (max-width: 480px) {
 .page{
  background-color: black;
 }

    .Hi{
      font-size: 20px;
      margin-left: 60px;
      margin-top:50px ;
    }
    .pres{
      margin-left: 60px; 
      font-size: 20px;
      margin-top: 15px;
    }
    .presen{
      font-size: 10px;
      margin-left: 60px;
    }
    .image{
      margin-left: 100px;
      height: 200px;
      width: 180px;
      margin-top: 100px;
    }
    

}





