.MY {
  margin-top: 90px;
  margin-left: 450px;
}
.imh {
  height: 100px;
  width: 100px;
  margin-left: 125px;
  margin-top: 100px;
}
.langim {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px;
  margin-left: -10px;
}
.imh:hover {
  filter: drop-shadow(1px 1px 20px rgb(68, 17, 223));
}
.imgh {
  margin-left: 570px;
  margin-top: 29px;
}
.imgh:hover {
  filter: drop-shadow(1px 1px 20px rgb(68, 17, 223));
}
@media (max-width: 480px) {
  .MY{
    font-size: 15px;
    margin-left: 110px;
    margin-top: 90px;
    color: bisque;
  }
  .langim {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 10px; /* Espacement entre les images */
    margin-left: 20px;
  }
  .imh{
    margin-top: 50px;
    margin-left: 20px;
    

  }


}
