.MY {
  margin-top: 130px;
  margin-left: 450px;
}
.imageGallery {
  display: flex;
  margin-top: 2%;
  gap: 50px; /* Space between images */
  justify-content: center;
  cursor: pointer;
  transition: transform 5s ease;
  flex-wrap: wrap; /* To wrap images on smaller screens */
  
}
.imageh {
  width: 140px; 
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 20px rgb(197, 114, 5));
  transition: transform 0.7s ease-in-out;
  }

@media (max-width: 480px) {
  .MY{
    font-size: 15px;
    margin-left: 110px;
    margin-top: 120px;
    color: bisque;
  }
  .imageGallery{
    margin-top: 50px;
  }
  .imageh{
    margin-top: 50px;
    margin-left: 20px;
    filter: drop-shadow(1px 1px 20px rgb(227, 124, 21));
    

  }
 

}
